<% include ./partials/header %>

<!-- First container in here MyName MyImage Icons and Button that send you to the section 2 -->
	<div id="container11" class="jumbotron bg-light text-dark">
		<h2 class="display-6 text-center text-dark" id="myName">Robert Dorlan</h2>
		<img src="stylesheets/pic4.jpg" alt="Responsive image" class=" img-thumbnail rounded-circle border-0 " id="myPic">
		<a onclick="window.open('http://www.linkedin.com/in/Robert-Dorlan')" class="nav-item nav-link active d-inline">
		<i class='fab fa-linkedin' style="font-size: 25px; color: Dark;"></i> <span class="sr-only"></span></a>
		<a onclick="window.open('https://twitter.com/robertdorlan')" class="nav-item nav-link active d-inline">
		<i class='fab fa-twitter' style="font-size: 25px; color: Dark;"></i> <span class="sr-only"></span></a>
		<a onclick="window.open('https://github.com/search?q=dorlan25')" class="nav-item nav-link active d-inline">
		<i class='fab fa-github' style="font-size: 25px; color: Dark;"></i> <span class="sr-only"></span></a>
		<a onclick="window.open('https://stackoverflow.com/story/robertdorlan')" class="nav-item nav-link active d-inline">
		<i class='fab fa-stack-overflow' style="font-size: 25px; color: Dark;"></i><span class="sr-only"></span></a>
		<hr class="my-4 bg-dark">
		<p class="display-6 text-center text-dark">
			For an overview of all my projects you can click on the link below...
		</p>
		<a class="btn btn btn-outline-dark btn-lg text-center"  id="btn1" href="#container13" >Projects</a>
	</div>




	<div id="container12" class="jumbotron bg-transparent">
		<p class="text-white text-center">
		  BSc in Information Technology.
		  Creative highly motivated and enthusiastic individual with excellent
		  verbal and written communication skills in two fluent languages 
		  Spanish (native) and English. I feel comfortable developing both
		  Front-End and Back-End. I define myself as a creative, dedicated 
		  and responsible person who is always looking for challenges.
		  Particularly interested in Software Development and Web Development.
		  Proficient at multitasking to achieve individual and team goals. Committed 
		  to quality and excellence. I am currently preparing myself to get Docker
		  and Kubernetes Certification. As an IT professional, I use my knowledge
		  and skills to effectively work as part of a team, meet the company's
		  targets and deadlines, be proactive when it comes to learning
		  new technologies and learn from my colleagues
		  on an ongoing basis to further my skill set.
		</p>
		<ul class="text-white">
			<h3 class="text-white">
				My Strengths are:
			</h3>
			<li>Java</li>
			<li>JavaScript</li>
			<li>Node.js</li>
			<li>SQL</li>
			<li>MongoDB</li>
			<li>Git</li>
			<li>RESTful</li>
		</ul>
		<ul class="text-white">
			<h3 class="text-white">
				Bachelor's degree Information Technology 2016-2019
			</h3>
			<div class="year3">
				<dl >
					<dt >3 Year</dt>
						<dd> Data Structures & Algorithms (JAVA)</dd>
						<dd> Interactive Web Applications (Javascript, Node.js)</dd>
						<dd> Advanced Databases (MySQL)</dd>
						<dd> Advanced Switching and Routing (Cisco)</dd>
						<dd> Applied Technology Group Project</dd>
						<dd> Operating Systems</dd>
				</dl>
			</div>
			<div class="year2">
				<dl >
					<dt >2 Year</dt>
						<dd> Object Oriented Constructs (JAVA)</dd>
						<dd> Databases (SQL)</dd>
						<dd> Cloud Computing (Google Cloud)</dd>
						<dd> Networking Service Management & Virtualization</dd>
						<dd> Web Development (JAVASCRIPT, PHP)</dd>
						<dd> Systems Analysis & Design</dd>
				</dl>
			</div>
			<div class="year1">
				<dl >
					<dt >1 Year</dt>
						<dd> Computer Programming (JAVA)</dd>
						<dd> Web Design (HTML5, CSS)</dd>
						<dd> Network Technology</dd>
						<dd> Business Information Systems</dd>
						<dd> Data Communications</dd>
						<dd> Digital Learning & Technology</dd>
				</dl>
			</div>
		</ul>	
	</div>



<div id="container13"  class="jumbotron bg-transparent border-0">
	<div class="card-group rounded">
  		<div class="card border-0 rounded">
    		<img src="stylesheets/proj1.png" class="card-img-top rounded" alt="...">
   			<div class="card-body">
			<h5 class="card-title text-center">Android Studio</h5>
			<p class="card-text text-justify">
				  This was my college final project and was
				  developed with Android Studio,
				  Java and Firestore.
				   The idea behind B-QUEST, is to bring together a group of people AKA Lords,
				  that could contribute with certain amount of money to give to the birthday person,
				  AKA The B-Hero, thus it can cash it and enjoys it in whatever best way it suits it
			</p>
      		<p class="card-text" id="smallParag"><small class="text-muted" >For more details check out my github</small></p>
   		 </div>
  	</div>
  	<div class="card border-0 rounded">
    	<img src="stylesheets/proj2.png" class="card-img-top rounded" alt="...">
    	<div class="card-body">
			<h5 class="card-title text-center">JavaScript</h5>
		    <p class="card-text text-justify">
			  This was a personal project that I developed while I was learning JavaScript 
			  and is one of those projects that you really enjoy and that is because this 
			  in this project I had learned how to fit different pieces together like sounds 
			  and annimation at the same time.
			  Also was one of my first projects in JavaScript along Git at the same time.
			  Very quick I realise the power and the advantages of this amazing tool "Git"
			  and since then I've been using it in all my following projects.
			</p>
      		<p class="card-text" id="smallParag"><small class="text-muted">For more details check out my github</small></p>
    	</div>
  	</div>
  <div class="card border-0 rounded">
    <img src="stylesheets/proj3.png" class="card-img-top rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Node.js</h5>
      <p class="card-text text-justify">
		  One of my favorite project and that's because I have
		  learned so much while using Node.js.
		  On this project I learned how routes works, packages,
		  framework like Semantic UI and  also working with MongoDB.
		  This gave me the oportunity on the Frontend and on the Backend side as well.
		  Node.js is an open-source,
		  cross-platform, JavaScript run-time environment that
		  executes JavaScript code outside of a browser.
	  </p>
      <p class="card-text"><small class="text-muted">For more details check out my github</small></p>
    </div>
  </div>
</div>
	
</div>

	

</div>




<% include ./partials/footer %>